#tab_sd-forge-ollama .gradio-chatbot {
    min-height: 54vh !important;
}

#tab_sd-forge-ollama div.gradio-column {
    margin-bottom: 4em;
}

#ollama-mdl-dl a {
    color: lightskyblue;
    text-decoration: underline;
}

#ollama-keepalive {
    margin-top: 6px;
}
